* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

@keyframes translate {
    0% {
        transform: translateX(-10px);
    }
    100%{
        transform-origin: left bottom;
        transform: rotate(-90deg);
    }
}
